.leftmenu
 a(href="#" class="leftmenu-close")
  img(src="../images/menu-back-b.png")
 ul
  li
   a(href="#" title="News & Event") News & Event
  li
   a(href="#" title="Menu") Menu
  li
   a(href="#" title="About Us") About Us
  li
   a(href="#" title="Contacts") Contacts
.wrapmask